@import "tailwindcss";
@import "tw-animate-css";

@keyframes wave {
  0% {
    background-position: 0 0, 0 0;
  }
  50% {
    background-position: 50px 50px, -50px -50px;
  }
  100% {
    background-position: 0 0, 0 0;
  }
}

.wave-bg {
  animation: wave 10s ease-in-out infinite;
}



